In [1]:
import pandas as pd
import numpy as np

In [2]:
houseprice=pd.read_csv("house_price.csv")

In [3]:
houseprice

       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0            2126         4          1        Rural       1969  215355.283618
1            2459         3          2        Rural       1980  195014.221626
2            1860         2          1       Suburb       1970  306891.012076
3            2294         2          1        Urban       1996  206786.787153
4            2130         5          2       Suburb       2001  272436.239065
...           ...       ...        ...          ...        ...            ...
49995        1282         5          3        Rural       1975  100080.865895
49996        2854         2          2       Suburb       1988  374507.656727
49997        2979         5          3       Suburb       1962  384110.555590
49998        2596         5          2        Rural       1984  380512.685957
49999        1572         5          3        Rural       2011  221618.583218

[50000 rows x 6 columns]

In [4]:
X=houseprice[["SquareFeet","Bedrooms"]].copy()

In [5]:
X

       SquareFeet  Bedrooms
0            2126         4
1            2459         3
2            1860         2
3            2294         2
4            2130         5
...           ...       ...
49995        1282         5
49996        2854         2
49997        2979         5
49998        2596         5
49999        1572         5

[50000 rows x 2 columns]

In [6]:
X["intercept"]=1

In [7]:
X=X[["intercept","SquareFeet","Bedrooms"]]

In [8]:
X

       intercept  SquareFeet  Bedrooms
0              1        2126         4
1              1        2459         3
2              1        1860         2
3              1        2294         2
4              1        2130         5
...          ...         ...       ...
49995          1        1282         5
49996          1        2854         2
49997          1        2979         5
49998          1        2596         5
49999          1        1572         5

[50000 rows x 3 columns]

In [9]:
y=houseprice["Price"].copy()

In [10]:
y

0        215355.283618
1        195014.221626
2        306891.012076
3        206786.787153
4        272436.239065
             ...
49995    100080.865895
49996    374507.656727
49997    384110.555590
49998    380512.685957
49999    221618.583218
Name: Price, Length: 50000, dtype: float64

In [11]:
X_T=X.T

In [12]:
X_T

,0,1,2,3,4,5,6,7,8,9,...,49990,49991,49992,49993,49994,49995,49996,49997,49998,49999
intercept,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
SquareFeet,2126,2459,1860,2294,2130,2095,2724,2044,2638,1121,...,2724,1952,1818,1215,2426,1282,2854,2979,2596,1572
Bedrooms,4,3,2,2,5,2,2,4,4,5,...,5,5,4,2,5,5,2,5,5,5

In [13]:
C=np.linalg.inv(X_T@X)

In [14]:
B=C@X_T@y

In [15]:
B

0    7694.164169
1      99.348147
2    5088.619943
dtype: float64

In [17]:
B.index=X.columns

In [18]:
B

intercept     7694.164169
SquareFeet      99.348147
Bedrooms      5088.619943
dtype: float64

In [19]:
predictions=X@B

In [20]:
predictions

0        239262.804189
1        267257.117154
2        202658.957236
3        245776.052978
4        244748.816720
             ...
49995    160501.588173
49996    301411.015225
49997    329095.393413
49998    291045.053162
49999    189312.550766
Length: 50000, dtype: float64

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
lr=LinearRegression()

In [25]:
lr.fit(houseprice[["SquareFeet","Bedrooms"]], houseprice[["Price"]])

LinearRegression()

In [26]:
lr.intercept_

array([7694.16416941])

In [28]:
lr.coef_

array([[  99.34814687, 5088.61994298]])